<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Lista de Órdenes de Compra</title>
    <link rel="stylesheet" href="/estilos/tables.css">
    <link rel="stylesheet" href="/estilos/navbar.css">
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main>
        <div class="cont_tabla">
            <section class="table_header">
                <div class="row">
                    <h1>Lista Órdenes de Compra</h1>
                </div>

            </section>

            <section class="table_body">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>N° Solicitud</th>
                            <th>Empleado</th>
                            <th>Proveedor</th>
                            <th>Fecha Solicitud</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="orden : ${listaOrdenesCompra}">
                            <td class="centrado" th:text="${orden.id}"></td>
                            <td class="centrado" th:text="${orden.solicitudCompra.id}"></td>
                            <td th:text="${orden.solicitudCompra.empleado.nombres + ' ' + orden.solicitudCompra.empleado.apellidos}"></td>
                            <td th:text="${orden.proveedor.nombre}"></td>
                            <td class="centrado" th:text="${#dates.format(orden.solicitudCompra.fechaEmision, 'yyyy-MM-dd')}"></td>
                            <td class="centrado" th:text="${orden.total}"></td>
                            <td style="width: 250px; padding-left: 30px;">
                                <a th:href="@{/ordenCompra/pdf/{id}(id=${orden.id})}" target="_blank" class="btn btn-info">PDF</a>
                                <a th:href="@{/ordenCompra/detalle/{id}(id=${orden.id})}" class="btn btn-primary">Ver Detalle</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</body>

</html>
